<p id="notice"><%= notice %></p>

<%= link_to 'Back', posts_path %>

<div class="row">
	<div class="col-md-6">
		<div class="thumbnail">
			<%= image_tag @post.image.url %>
		</div>
	</div>
</div>
<div class="col-md-12">
	<%= render_shareable :url=> 'http://github.com/hermango/', :facebook=> {:send=> 'true', :url=> 'http://demo.dev'} %>

	<% if current_user == @post.user %>
		<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-link" %> 
		<%= link_to 'Destroy', post_path, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>

</div>
