<p id="notice"><%= notice %></p>

<h2>
  <%= @category.name %>
</h2>
<p>
	<div class="row">
		    <% @category.listings.each do |listing| %>	
			    <div class="col-md-2">	
					<div class="thumbnail">
			          <%= link_to image_tag(listing.image.url), listing %>
			          <div class="caption">
			            <h3><%= listing.name %></h3>
			            <p><%= number_to_currency(listing.price, :unit => "RM") %></p>
			          </div>
			        </div>  
			    </div>
		    <% end %>
		 
	</div>   
</p>
<% if current_user && current_user.admin? %>
	<%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>	
<%= link_to 'Back', categories_path %>
